.site {
  position: relative;
}

// section bannière
.banner {
    position: relative;
    // animation: fadeOut 2s;
    background-image: unset !important;
  #background-video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    animation: fadeOut 2s;
    transition: opacity 1s ease-out;
  }
  img {
    animation: floating 3s ease-in-out infinite;
    transform-origin: center;
    z-index: 2;
    top: 0;
    left: 0;
  }
}
// ***** //


.fade-in {
  opacity: 0;
  transition: opacity 2s ease-out;
  animation: fade-in 1s;
}
.fade-top {
  transform: translateY(0); /* Déplace initialement les titres vers le haut */
  opacity: 1
}


// animations titres
h2,
h3 {
  .fade-title {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(calc(100vh - 100px)); 
    opacity: 0;
  }
}
// ***** //


// section story
.story {
  h2{
    transition: 1s ease-in-out;
    &::after {
      animation: spinning-flowers 30s linear infinite;
      transform-origin: center;
      width: 155px;
      height: 155px;
    }
  }
  &__article {
    &::after {
      animation: spinning-flowers 30s linear infinite;
      transform-origin: center;
    }
  }
}
// ***** //


//section personnages
#characters {
  .main-character {
    h3 {
      transition: 1s ease-in-out;
    }
  }
  swiper-container {
    width: 100%;
  }
  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 500px;
    margin-right: 25px;
    img {
      width: 400px;
      height: 440px;
    }
    p {
      margin: 0;
    }
  }
}
// ***** //


// section lieu
#place {
  background-image: url("img/Studio_Koukaki-image_place.png") !important;
  h3 {
    transition: 1s ease-in-out;
  }
  .cloud {
    display: flex;
    flex-direction: column;
    filter: blur(10px);
  }
}

// ***** //


// section studio
#studio {
  h2 {
    overflow-y: hidden;
    transition: 1s ease-in-out;
    &::before {
      animation: spinning-flowers 30s linear infinite;
      width: 203px;
      height: 203px;
    }
    &::after {
      animation: spinning-flowers 30s linear infinite;
      width: 109px;
      height: 109px;
    }
  }
}
// ***** //


// section oscars
.oscars-container {
  display: flex;
  align-items:center;
  justify-content: center;
  margin: auto;
  padding: 100px 0 0 0;
  &::before {
    content: url('img/Sunflower.png');
    position: absolute;
    left: 6em;
    top: 3450px;
    animation: spinning-flowers 30s linear infinite;
    transform-origin: center;
  }
  &::after {
    content: url('img/orchid.png');
    position: absolute;
    right: -4em;
    bottom: 600px;
    animation: spinning-flowers 30s linear infinite;
    transform-origin: center;
  }

  h4 {
    color: #FFF5EA;
    font-size: 2.5rem;
    background-image: url("img/orange_oscars.png");
    background-color: #FFF5EA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 80px;
    margin-bottom: 0;
  }
}
// ***** //


// footer 
.site-footer {
  &::before {
    content: none;
  }
  &::after {
    content: none;
  }
  ul{
    &::after {
      animation: spinning-flowers 30s linear infinite;
      transform-origin: center;
    }
  }
}
// ***** //


// menu burger 


// ***** // 


// animations 
@keyframes floating {
  0% {
    transform: translateY(4px) rotate(-1deg);
  }
  50% {
    transform: translateY(-10px) rotate(1deg);
  }
  100% {
    transform: translateY(4px) rotate(-1deg);
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-top {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes spinning-flowers {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// ***** //