:root {
  --rotate: 20s;
}

.site {
  position: relative;
}

.banner {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  animation: fade-out 2s;
  background-repeat: no-repeat;
  background-image: unset !important;
}
.banner #background-video {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  animation: fade-out 2s;
}
.banner div {
  z-index: 2;
  top: 0;
  left: 0;
  animation: floating 3s ease-in-out infinite;
}
.banner div #picture {
  animation: fade-in 2s;
  transform-origin: center;
  margin-top: -10%;
  width: 90%;
}

.fade-in {
  animation: fade-in 2s;
}

h2 .fade-title,
h3 .fade-title {
  transition: transform 1s ease;
  position: relative;
  display: block;
  transform: translateY(120px);
}

.story {
  padding-top: 50px;
}
.story h2::after {
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
  width: 155px;
  height: 155px;
}
.story__article::after {
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
}

.story #characters .main-character h3 {
  width: 70%;
}
.story #characters .main-character .swiper {
  transition: transform 2s ease-in-out;
  width: 90%;
  height: 100%;
}
.story #characters .main-character .swiper-wrapper {
  gap: 30px;
}
.story #characters .main-character .swiper-slide {
  background-position: left;
  background-size: cover;
  width: 400px;
  height: 400px;
}
.story #characters .main-character .swiper-slide p {
  margin: 0;
}
.story #characters .main-character .swiper-slide img {
  width: 100%;
  height: 100%;
}

#place {
  background-image: url("img/Studio_Koukaki-image_place.png") !important;
}
#place .cloud {
  transition: transform 3s ease-in-out;
  top: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  filter: blur(10px);
}
#place .big-cloud {
  left: 800px;
}
#place .little-cloud {
  left: 550px;
}

#studio h2::before {
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
  width: 203px;
  height: 203px;
}
#studio h2::after {
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
  width: 109px;
  height: 109px;
}

.oscars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 100px 0 0 0;
}
.oscars-container::before {
  content: url("img/Sunflower.png");
  position: absolute;
  left: 6em;
  top: 3450px;
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
}
.oscars-container::after {
  content: url("img/orchid.png");
  position: absolute;
  right: -4em;
  bottom: 600px;
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
}
.oscars-container h4 {
  color: #FFF5EA;
  font-size: 2.5rem;
  background-image: url("img/orange_oscars.png");
  background-color: #FFF5EA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 60px 80px;
  margin-bottom: 0;
}

.site-footer::before {
  content: none;
}
.site-footer::after {
  content: none;
}
.site-footer ul::after {
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
}

@media screen and (max-width: 1000px) {
  .oscars-container h4 {
    font-size: 25px !important;
    padding: 40px 80px 60px 80px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 850px) {
  .oscars-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 720px) {
  .banner {
    background-image: url("./img/banner.png") !important;
    background-size: cover;
    min-height: 600px;
  }
  .banner #background-video {
    display: none;
  }
  #story .clouds {
    display: none;
  }
  #characters {
    margin: 0 !important;
  }
  #characters h3 {
    margin-left: 300px;
  }
  #characters .swiper-slide {
    height: 300px !important;
  }
  #characters .swiper-slide {
    width: 400px !important;
    height: 400px !important;
  }
  #characters .swiper-slide img {
    width: 300px !important;
    height: 300px !important;
  }
  .oscars-container {
    flex-direction: column;
  }
  .oscars-container::before {
    left: 12em;
    top: 3200px;
  }
  .oscars-container::after {
    right: -6em;
    bottom: 300px;
  }
  .oscars-container h4 {
    font-size: 20px !important;
    padding: 40px 80px 60px 80px;
    margin-top: 50px;
  }
}
@keyframes floating {
  0% {
    transform: translateY(4px) rotate(-1deg);
  }
  50% {
    transform: translateY(-10px) rotate(1deg);
  }
  100% {
    transform: translateY(4px) rotate(-1deg);
  }
}
@keyframes fade-in {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning-flowers {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */