:root {
  --rotate: 30s;
}

.site {
  position: relative;
}

.banner {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  animation: fade-out 2s;
  background-repeat: no-repeat;
  background-image: unset !important;
}
.banner #background-video {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  animation: fade-out 2s;
}
.banner div {
  z-index: 2;
  top: 0;
  left: 0;
  animation: floating 3s ease-in-out infinite;
}
.banner div #picture {
  animation: fade-in 2s;
  transform-origin: center;
  margin-top: -10%;
  width: 100%;
}

.fade-in {
  animation: fade-in 2s;
}

h2 .fade-title,
h3 .fade-title {
  transition: transform 1s ease;
  position: relative;
  display: block;
  transform: translateY(70px);
}

.story {
  margin-top: 50px;
}
.story h2::after {
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
  width: 155px;
  height: 155px;
}
.story__article::after {
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
}

.story #characters .main-character h3 {
  width: 70%;
}
.story #characters .main-character .swiper {
  transition: transform 2s ease-in-out;
  width: 90%;
  height: 100%;
}
.story #characters .main-character .swiper-wrapper {
  gap: 10px;
}
.story #characters .main-character .swiper-slide {
  background-position: left;
  background-size: cover;
  width: 400px;
  height: 400px;
}
.story #characters .main-character .swiper-slide p {
  margin: 0;
}
.story #characters .main-character .swiper-slide img {
  width: 100%;
  height: 100%;
}

.story #place {
  background-image: url("img/Studio_Koukaki-image_place.png") !important;
}
.story #place div {
  max-width: 500px;
  margin-top: -6em;
  margin-left: 8em;
}
.story #place div p {
  margin-top: 30px;
  line-height: 25px;
  letter-spacing: -0.3px;
}
.story #place div .cloud {
  transition: transform 0.3s ease-in-out;
  top: 90px;
  display: flex;
  flex-direction: column;
  position: relative;
  filter: blur(10px);
}
.story #place div .big-cloud {
  left: 800px;
}
.story #place div .little-cloud {
  left: 550px;
}

#studio h2::before {
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
  width: 203px;
  height: 203px;
}
#studio h2::after {
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
  width: 109px;
  height: 109px;
}
#studio p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.3px;
}

.oscars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 100px 0 0 0;
}
.oscars-container::before {
  content: url("img/Sunflower.png");
  position: absolute;
  left: 6em;
  bottom: 35em;
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
}
.oscars-container::after {
  content: url("img/orchid.png");
  position: absolute;
  right: -5em;
  bottom: 40em;
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
}
.oscars-container h4 {
  color: #FFF5EA;
  font-size: 2.5rem;
  background-image: url("img/orange_oscars.png");
  background-color: #FFF5EA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 80px;
  margin-bottom: 0;
}

.site-footer::before {
  content: none;
}
.site-footer::after {
  content: none;
}
.site-footer ul::after {
  animation: spinning-flowers var(--rotate) linear infinite;
  transform-origin: center;
}

#site-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#site-navigation ul {
  margin: 0 auto;
}
#site-navigation .menu-toggle {
  display: block;
  order: 2;
  margin: 0;
  padding: 0;
  height: 30px;
  margin-right: 100px;
  cursor: pointer;
}
#site-navigation .menu-toggle span {
  height: 2px;
  width: 30px;
  margin-block: 5px;
  list-style: none;
  border-radius: 5px;
  transition: 0.3s ease;
}
#site-navigation .menu-toggle.active span {
  position: relative;
}
#site-navigation .menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 6px;
}
#site-navigation .menu-toggle.active span:nth-child(2) {
  opacity: 0;
}
#site-navigation .menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: -7px;
}

#menu-burger {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  background: #fff5e9;
}
#menu-burger.open {
  opacity: 1;
  animation: fade-out 1s ease-in-out;
}
#menu-burger .navigation {
  position: relative;
  display: flex;
  height: 80px;
  background: #ffd5a2;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
#menu-burger #logo {
  display: block;
  position: absolute;
  width: 13%;
  top: 3%;
  filter: drop-shadow(0px 0px 10px #FF5C00);
}
#menu-burger ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#menu-burger ul li {
  text-align: center;
  margin-bottom: 25px;
}
#menu-burger ul li a {
  text-decoration: none;
  color: black;
  font-size: 55px;
}
#menu-burger ul li a:hover {
  text-shadow: 0px 0px 14px #FF5C00;
  transition: 0.3s;
}
#menu-burger p {
  position: absolute;
  text-transform: uppercase;
  bottom: 10%;
}
#menu-burger img {
  position: absolute;
}
#menu-burger .blue-cat {
  width: 110px;
  height: 100px;
  top: 23%;
  left: 20%;
  animation: floating 2s ease-in-out infinite;
}
#menu-burger .yellow-cat {
  width: 105px;
  height: 95px;
  bottom: 20%;
  left: 4%;
  animation: floating 3s ease-in-out infinite;
}
#menu-burger .black-cat {
  width: 154px;
  height: 147px;
  top: 50%;
  right: 15%;
  animation: floating 4s ease-in-out infinite;
}
#menu-burger .orchid {
  top: 7%;
  left: -4%;
  animation: spinning-flowers 20s linear infinite;
}
#menu-burger .flower {
  width: 5%;
  top: 50%;
  left: 15%;
  animation: spinning-flowers 15s linear infinite;
}
#menu-burger .sunflower {
  top: 10%;
  right: 15%;
  animation: spinning-flowers 25s linear infinite;
}
#menu-burger .random-flower {
  width: 5%;
  top: 40%;
  right: -2%;
  animation: spinning-flowers 7s linear infinite;
}
#menu-burger .hibiscus {
  width: 40%;
  bottom: -28%;
  right: -20%;
  animation: spinning-flowers 20s linear infinite;
}

.fade-titles {
  transition: transform 0.5s ease-out, opacity 0.3s ease;
  position: relative;
  display: block;
  transform: translateY(20px);
  opacity: 0;
}

.fade-titles.visible {
  transform: translateY(0px);
  opacity: 1;
}

@keyframes floating {
  0% {
    transform: translateY(4px) rotate(-1deg);
  }
  50% {
    transform: translateY(-10px) rotate(1deg);
  }
  100% {
    transform: translateY(4px) rotate(-1deg);
  }
}
@keyframes fade-in {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinning-flowers {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1000px) {
  .oscars-container h4 {
    font-size: 25px !important;
    padding: 40px 80px 60px 80px;
    margin-top: 50px;
  }
  #menu-burger .hibiscus {
    bottom: -15%;
  }
}
@media screen and (max-width: 921px) {
  .story #place div {
    margin-top: 2em;
    margin-left: 6em;
  }
}
@media screen and (max-width: 850px) {
  .oscars-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 720px) {
  #site-navigation {
    padding: 15px;
    justify-content: center;
  }
  #site-navigation .menu-toggle {
    margin: auto;
  }
  .banner {
    background-image: url("./img/banner.png") !important;
    background-size: cover;
    min-height: 600px;
  }
  .banner #background-video {
    display: none;
  }
  #story #place div {
    margin-top: 15em;
    margin-left: 2em;
  }
  #story #place .clouds {
    display: none;
  }
  #characters {
    margin: 0 !important;
  }
  #characters h3 {
    margin-left: 300px;
  }
  #characters .swiper-slide {
    height: 300px !important;
  }
  #characters .swiper-slide {
    width: 400px !important;
    height: 400px !important;
  }
  #characters .swiper-slide img {
    width: 300px !important;
    height: 300px !important;
  }
  .oscars-container {
    padding: 0;
    flex-direction: column;
  }
  .oscars-container::before {
    display: none;
  }
  .oscars-container::after {
    display: none;
  }
  .oscars-container h4 {
    font-size: 20px !important;
    padding: 40px 80px 60px 80px;
    margin-top: 50px;
  }
  #menu-burger #logo {
    width: 20%;
  }
  #menu-burger a {
    font-size: 30px !important;
  }
  #menu-burger .orchid {
    left: -10%;
  }
  #menu-burger .hibiscus {
    bottom: -5%;
  }
  #menu-burger .black-cat {
    right: 0%;
  }
}
@media screen and (max-width: 400px) {
  h2,
  h3 {
    font-size: 2em;
  }
  .oscars-container h4 {
    font-size: 16px !important;
    padding: 30px 40px 60px 60px;
  }
}/*# sourceMappingURL=style.css.map */