.site {
  position: relative;
}

.banner {
  position: relative;
  animation: fadeOut 2s;
}
.banner #background-video {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  animation: fadeOut 2s;
  transition: opacity 1s ease-out;
}
@keyframes fadeOut {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
.banner img {
  animation: floating 3s ease-in-out infinite;
  transform-origin: center;
  z-index: 2;
  top: 0;
  left: 0;
}

@keyframes floating {
  0% {
    transform: translateY(4px) rotate(-1deg);
  }
  50% {
    transform: translateY(-10px) rotate(1deg);
  }
  100% {
    transform: translateY(4px) rotate(-1deg);
  }
}
.fade-in {
  opacity: 0;
  transition: opacity 2s ease-out;
  animation: fade-in 1s;
}
@keyframes fade-in {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

h2,
h3 {
  overflow: hidden;
}
h2 .fade-title,
h3 .fade-title {
  overflow: hidden;
  opacity: 0;
  transform: translateY(-30px);
}
h2 .fade-top,
h3 .fade-top {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 1s ease;
}

#characters .main-character h3 {
  transition: 1s ease-in-out;
}
#characters swiper-container {
  width: 100%;
}
#characters swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 500px;
  margin-right: 25px;
}
#characters swiper-slide img {
  width: 400px;
  height: 440px;
}
#characters swiper-slide p {
  margin: 0;
}

#place {
  background-image: url("img/Studio_Koukaki-image_place.png") !important;
}

h3 {
  transition: 1s ease-in-out;
}

.cloud {
  display: flex;
  flex-direction: column;
  filter: blur(10px);
}

.story h2 {
  transition: 1s ease-in-out;
}
.story h2::after {
  animation: spinning-flowers 30s linear infinite;
  transform-origin: center;
}
.story__article::after {
  animation: spinning-flowers 30s linear infinite;
  transform-origin: center;
}

#studio h2 {
  overflow-y: hidden;
  transition: 1s ease-in-out;
}
#studio h2::before {
  animation: spinning-flowers 30s linear infinite;
}
#studio h2::after {
  animation: spinning-flowers 30s linear infinite;
}

.oscars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 100px 0 0 0;
}
.oscars-container::before {
  content: url("img/Sunflower.png");
  position: absolute;
  left: 6em;
  top: 3450px;
  animation: spinning-flowers 30s linear infinite;
  transform-origin: center;
}
.oscars-container::after {
  content: url("img/orchid.png");
  position: absolute;
  right: -4em;
  bottom: 600px;
  animation: spinning-flowers 30s linear infinite;
  transform-origin: center;
}
.oscars-container h4 {
  color: #FFF5EA;
  font-size: 2.5rem;
  background-image: url("img/orange_oscars.png");
  background-color: #FFF5EA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 60px 80px;
  margin-bottom: 0;
}

.site-footer::before {
  content: none;
}
.site-footer::after {
  content: none;
}
.site-footer ul::after {
  animation: spinning-flowers 30s linear infinite;
  transform-origin: center;
}
@keyframes spinning-flowers {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */